<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <h2>WishList System</h2>
          <p>Want A Wish? Your Wish is our Command</p>
          <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
        <div class="col-sm-6">
          <img src="/static/images/aladdin-genie-gif.gif">
        </div>
      </div>
    </div>
    
  </div>
</div>
</div>